{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock %}
{% block description %}{{article.preview}}{% endblock %}

{% block body %}
<div class="container" style="margin-top:90px">
	<div class="row">
		<div class="col-sm-7 article pt-1">
			<div class="story">
                <div class="story-title p-2">
                    <h4>{{article.title}}</h4>
                    <p class="small">
                        <b class="text-success pr-2">Published On</b>
                        <i class="blog-info">{{ article.published_on }}</i>
                        <strong>|</strong>
                        <b class="text-success pr-2">Category</b>
                        <a class="blog-info blog-link" href="{{ url_for('category_page', category_url=article.category_url) }}">{{ article.category_name }}</a>
                    </p>
                </div>
                {% if article.previous_url or article.next_url %}
                    <div class="story-previous">
                        <div class="alert alert-success">
                            {% if article.previous_url %}
				            Previous: <a href="{{ url_for('blog_page', category_url=article.category_url, blog_url=article.previous_url) }}">{{article.previous_title}}</a>
                            {% endif %}
                            <br>
                            {% if article.next_url %}
				            Next: <a href="{{ url_for('blog_page', category_url=article.category_url, blog_url=article.next_url) }}">{{article.next_title}}</a>
                            {% endif %}
			            </div>
                    </div>
                {% endif %}
                {% if article.image_filename %}
                    <img src="{{ url_for('custom_images', filename=article.image_filename) }}" width="100%">
                {% endif %}
                <div class="story-content pt-2">
                    {% for rec in article.content_ids %}
			            <p>{{ rec }}</p>
			        {% endfor %}
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}
